[Unit]
Description=Atlassian Fisheye/Crucible
After=network-online.target
After=postgresql.service
Requires=postgresql.service

[Service]
User={{fecru_user}}
Group={{fecru_user}}

ExecStart={{fecru_base}}/current/bin/start-fecru.sh
Environment=JIRA_HOME={{fecru_home}} {% if fecru_setup %} JAVA_OPTS=-Datlassian.dev.mode=true {% endif %}

[Install]
WantedBy=multi-user.target
